/*SOBRE MI*/

.about{
    min-height: 80vh;
    width: 100%;
    padding: 100px 20px 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
}
.about-content h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--petrol-light);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--petrol-light);
}
.about-content .about-portrait {
    margin-top: 10px;
    width: 300px;
    object-fit: cover;
    border-radius: 5%;
    border: 3px solid #216477;
    box-shadow: 0 0 15px var(--shadows-color);
}
.about .about-text-content{
    margin: 0 auto;
}

.about .about-text{
    text-align: justify;
    font-size: 1.5rem;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.6; /* Mejora la lectura en móviles */
}